<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/assets/imgs/tawk_favicon_152x152.png" alt="" width="24" height="19">
                <small class="d-block mb-3 text-muted">&copy; 2021</small>
            </div>

            <div class="col-6 col-md">
                <h5>About webSurf</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="/templates/visionBoard.html">Company Info</a></li>
                    <li><a class="link-secondary" href="/templates/careers.html">Careers</a></li> 
                    <li><a class="link-secondary" href="/templates/investorRelations.html">Investor Relations</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="/templates/developers.html">Developers</a></li>
                </ul>
            </div>
            <!-- Slots for other stuff to add to the footer later 
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Cool stuff</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            -->
        </div>
    </footer>
</div>