<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">webSurf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://trello.com/b/XKBQqvBj/websurf" target="_blank">Roadmap</a>
                    <a class="dropdown-item" href="https://websurfdevelopment.wordpress.com/category/updates/" target="_blank">Updates</a>
                    <a class="dropdown-item" href="https://websurfdevelopment.wordpress.com/category/devramblings/" target="_blank">devRamblings</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://websurf.flarum.cloud/" target="_blank">Forums</a>
                    <a class="dropdown-item" href="https://discord.gg/A99KGJH" target="_blank">Discord</a>
                    <a class="dropdown-item" href="https://twitter.com/webSurfwebSurf" target="_blank">Twitter</a>
                    <a class="dropdown-item" href="https://www.youtube.com/channel/UC0pUFC0ePhBq9tInz5tArQQ" target="_blank">Youtube</a>
                    <a class="dropdown-item" href="https://www.twitch.tv/websurf" target="_blank">Twitch</a>
                    <a class="dropdown-item" href="https://www.instagram.com/websurfwebsurfwebsurf/" target="_blank">Instagram</a>
                    <a class="dropdown-item" href="https://www.facebook.com/playwebSurf" target="_blank">Facebook</a>
                    <a class="dropdown-item" href="https://www.tiktok.com/@websurfwebsurf?lang=en" target="_blank">TikTok</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.reddit.com/r/webSurf_featureReqs/" target="_blank">Feature Reqs.</a>
                    <a class="dropdown-item" href="https://www.reddit.com/r/webSurf_bugReporting/" target="_blank">Report Bugs</a>
                    <a class="dropdown-item" href="https://websurf.tawk.help/" target="_blank">Help/Submit Ticket</a>
                </div>

            </li>
            
            <li class="nav-item" role="button">
                <a class="nav-link" href="/templates/founderpackDetails" role="button" aria-haspopup="true" aria-expanded="false">
                    Purchase Founder Pack
                </a>
            </li>

            <li class="nav-item" role="button">
                <a class="nav-link" href="/templates/visionBoard" role="button" aria-haspopup="true" aria-expanded="false">
                    webSurf Vision Board
                </a>
            </li>
            
            <li id="firefox_chat" class="nav-item" role="button">
            </li>
            
        </ul>

        <!--Temporary shutdown for practical fixes. Can reuse later possibly-->
        <!-- <a id="loginButton" href="/Login" class="btn btn-outline-primary" role="button" aria-pressed="true">Login</a>
        <a id="registerButton" href="/Register" class="btn btn-outline-primary" role="button" aria-pressed="true">Register</a>-->
    </div>
</nav>