---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    <h1>How to Play:</h1>
    <p>Break blocks. Discover pieces of the internet. Throw the block back. Rinse repease :D</p>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>PC Controls: </h1>
    <ul>
        <li> <p> <b>Start</b> - Click on screen <small>(<b>KnownBug: </b>You may have to click around the scene multiple times)</small></p></li>
        <li> <p> <b>Move</b> - WASD</p></li>
        <li> <p> <b>Jump</b> - Spacebar (or 2x)</p></li>
        <li> <p> <b>Break</b> - Hold down LMB (left mousebutton) on greenlit item until it breaks</p></li>
        <li> <p> <b>Throw</b> - Hold down LMB after item break until your arm raises to its peak and release LMB</p></li>
        <li> <p> <b>Cancel Throw</b> - Click MMB during a throw </p></li>
        <li> <p> <b>Backpack Items</b> - Hold down LMB after item break until your arm raises to its peak and click RMB</p></li>
        <li> <p> <b>Select Backpacked Items</b> - MouseWheel</p></li>
        <li> <p> <b>Sprint</b> - Hold down shift while moving (wasd)</p></li>
        <li> <p> <b>Menu</b> - Esc </p></li>
    </ul>

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <p class="text-center"> --- PC Specific Below --- </p>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <ul>
        <li> <p> <b>Move Broken Object</b> - LMB + (QE) or (MouseWheel) - In the throw position you can move your static item. Doesn't woth with dynamic objects (aka cubes).</p></li>
        <li> <p> <b>Move Broken Object (Alt)</b> - LMB + Alt + (WASD) or (QE) or (MouseWheel) - Alteration of the control above. More subtlties to move an object.</p></li>
        <li> <p> <b>Tab</b> - If you area founder hit tab while in game to bring up search bar to manually input search terms.</p></li>
    </ul>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>Web Controls: </h1>
    <p>
        Note that the web controls are the same as pc but minus object movement controls. 
        Be sure to download and play on PC to get the full experience. Web is for demo/free sample purposes only.
    </p>
    <ul>
        <li> <p> <b>Menu</b> - M or Esc <small>(<b>KnownBug: </b>Pressing 'm' or esc too quick after start swings the camera wildly)</small></p></li>
    </ul>
</div>