---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>Job Openings: </h1>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <p>Coming Soon! Please follow any socials in the community tab up in the navbar to be updated on upcomming announcements or check back here again later.</p>
    <p>If you have a position in mind that you think might make a great fit for webSurf then please email webSurfBiz@gmail.com with a #careers in the heading. 
        Forward over any relevant resume/portfolio/link materials pertaining to a Job you make have in mind.
    </p>
</div>
