---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>
        Ready to take your webSurfing game to the next level?
    </h1>
    <img src="../assets/gifs/lowHigh.gif"> 

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h2>Buyer Beware! Build phase is still in <b>super-duper-alpha</b> mode!</h2>
    <p>
        Can you handle living on the cutting edge in order to check out the latest and greatest brand-spanking new features?
    </p>
    <p>
        Ready to buy now? Please purchase in the game menu (hit the esape key in game on either browser or the multiplayer download).
    </p>
    <img src="../assets/gifs/purchase.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>Founderpack purchase includes:</h1>

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h2>-Discount Prices!</h2>
    <p>
        Support webSurf development today by purchasing the downloadable PC version! 66.6666666...% OFF *rock the devil horns* during the super duper alpha. 
    </p>
    <img src="../assets/imgs/wozAppleOne.jpg" alt="Woz Apple One" width="200" height="200">
    <p>*Nerds should get the reference* ;)</p> 

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h2>-Grandfathered In!</h2>
    <p>
        Buy now and you are grandfathered in for all major future updates for all versions of webSurf. **(Future updates will include rollouts to all major platforms PC/Mac/Consoles/etc.)
    </p>
    <img src="../assets/gifs/grandfather.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Early Access!</h2>
    <p>
        You'll get the latest most experimental features that are just too hot to handle on the browser. And you'll get them first!
    </p>
    <img src="../assets/gifs/tooHot.gif">

    <p>
        Future features are being developed and you'll get access to them first as soon as they roll out.
    </p>
    <img src="../assets/gifs/future.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Better Graphics!</h2>
    <p>
        Running on native PC
    </p>
    <img src="../assets/gifs/browser.gif">
    <img src="../assets/gifs/pc.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Search video!</h2>
    <p>
        **Note only for PC Download for now. Buggy on browser. Working on patching this!
    </p>
    <img src="../assets/gifs/bedIntruder.gif" width="300" height="300"> 
    <img src="../assets/gifs/chocolateRain.gif" width="300" height="300">
    <img src="../assets/gifs/lemonDemon.gif" width="300" height="300">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Search Audio!</h2>
    <p>
        Peruse the internet and discover its Audioness (podcasts/music etc.) - Coming Soon!
    </p>
    <img src="../assets/gifs/audio.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Fastpass Multiplayer!</h2>
    <p>
        Cause surfing the web with friends is just way more fun :). If there is a line (as we are launching more servers for expansion later) you'll be prioritized to get on the servers first. - Coming Soon!
    </p>
    <img src="../assets/gifs/multiplayer.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Moaarr Custom 3rd Party Api Searches!</h2>
    <img src="../assets/imgs/customApiSearches.jpg" width="500" height="300">
    <p>With the free version of webSurf you have a predetermined list of words that randomly search for you. The free version also has limited number of word searches for the day that you can't control.</p>
    <p>When you buy a founder pack all these search limits are increased by you inputting your own api keys. You can also search words that you want too. See setup link for this if you purchase the founder pack <a href="https://websurf.tawk.help/article/thirdparty-api-signins" target="_blank">here</a> </p>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>-Red Hot Custom Avatar!</h2>
    <p>
        And do this all with a red hot fiery avatar to show your early founder support! With it you'll also get founder only features to customize your character with future upgrades. You'll also get bigger inventory and your own home space to put what you collect from the internetz - Coming Soon!
    </p>
    <img src="../assets/gifs/avatar.gif">

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <h2>Buy Now!</h2>
    <p>
       So if you are down to join the rebel alliance and surf the web by storm, support development by buying a founder pack now in the game menu!
    </p>
    <img src="../assets/gifs/purchase.gif">
    <p>
        Other payment processors coming soon (steam, amazon google pay etc.)
    </p>
    <p>
        And again uh...P.S. Please be kind. This is super duper alpha. Bugs to be expected when living on the edge. Please check your expections at the door so that we can have some fun :p
    </p>
</div>