<!DOCTYPE html>

<html lang="en">
    <body>
        <p>
            Thanks for supporting webSurf with your sexy bad self! ;) Please return back to the game window where you made the puchase.
        </p>
        <p>
            0: If you didn't close your original window where you made the purchase, click on the confirm button. If your payment was made successfully then you should see your founder settings display. Thanks for being a founder! :)
        </p>
        <p>
            1: If you closed the original window it's ok! If your purchase was made successfully then when you sign back in, the founder settings should display in the center.
        </p>
        <p>
            2: If there is still a problem please email webSurfBiz@gmail.com for support. Sorry about the technical difficulties!
        </p>
    </body>
</html>