<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>webSurf</title>

    <!--Bootstrap Dependencies-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<html lang="en">
    <body>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<a class="navbar-brand" href="/">webSurf</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						News
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="https://trello.com/b/XKBQqvBj/websurf" target="_blank">Roadmap</a>
							<a class="dropdown-item" href="https://websurfdevelopment.wordpress.com/category/updates/" target="_blank">Updates</a>
							<a class="dropdown-item" href="https://websurfdevelopment.wordpress.com/category/devramblingsdeclassified/" target="_blank">devRamblings</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Community
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="https://websurf.flarum.cloud/" target="_blank">Forums</a>
							<a class="dropdown-item" href="https://discord.gg/A99KGJH" target="_blank">Discord</a>
							<a class="dropdown-item" href="https://twitter.com/webSurfwebSurf" target="_blank">Twitter</a>
							<a class="dropdown-item" href="https://www.youtube.com/channel/UC0pUFC0ePhBq9tInz5tArQQ" target="_blank">Youtube</a>
							<a class="dropdown-item" href="https://www.twitch.tv/websurf" target="_blank">Twitch</a>
							<a class="dropdown-item" href="https://www.instagram.com/websurfwebsurfwebsurf/" target="_blank">Instagram</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Feedback
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="https://www.reddit.com/r/webSurf_featureReqs/" target="_blank">Feature Reqs.</a>
							<a class="dropdown-item" href="https://www.reddit.com/r/webSurf_bugReporting/" target="_blank">Bugs</a>
						</div>

					</li>

					<!--
					<li class="nav-item">
					<a class="nav-link" href="https://www.reddit.com/r/webSurf_featureReqs/" target="_blank">Feature Reqs. <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="https://www.reddit.com/r/webSurf_bugReporting/" target="_blank">Bugs</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Submit Ticket</a>
					</li>
					-->
				</ul>

				<!--Temporary shutdown for practical fixes. Can reuse later possibly-->
				<!-- <a id="loginButton" href="/Login" class="btn btn-outline-primary" role="button" aria-pressed="true">Login</a>
				<a id="registerButton" href="/Register" class="btn btn-outline-primary" role="button" aria-pressed="true">Register</a>-->
				
			</div>
        </nav>

        <div class="container">
            <div class="row justify-content-center">
                <div class="form-group col-4">
                    <p class="text-center"></p>
                </div>
            </div>

            <p>
                --webSurf Logo here--
            </p>
            <p>
                --But button now with price--
            </p>
            <p>
                Ready to take your webSurfing game to the next level?
            </p>
            <p>
                --Insert gif of breaking blocks with nicer looking textures--
            </p>
            <p>
                Support webSurf development today by purchasing the downloadable PC version! x% off during alpha. 
            </p>
            <p>
                Buy now and you are grandfathered in for all major future updates for all versions of webSurf. **(Future updates will include rollouts to all major platforms PC/Mac/Consoles/etc.)
            </p>
            <p>
               --Show image of being grandfathered in--
            </p>
            <p>
                Whatcha get?
            </p>
            <p>
                You'll get the latest most experimental features that are just too hot to handle on the browser. And you'll get them first!
            </p>
            <p>
                --insert funny image of the brower unable to touch a PC build--
            </p>
            <p>
                Future features are being developed and you'll get access to them first as soon as they roll out before browser access.
            </p>
            <p>
                --Image of a futuristic webSurf mascot--
            </p>
            <p>
                Better Graphics running on native PC
            </p>
            <p>
                Search video!
            </p>
            <p>
                Peruse the internet and discover its Audioness (podcasts/music etc.)
            </p>
            <p>
                Multiplayer! Cause surfing the web with friends is just way more fun :). Get early access to test the live servers.
            </p>
            <p>
                And do this all with a red hot fiery avatar to show your early founder support! With it you'll also get founder only features to customize your character with future upgrades.
            </p>
            <p>
                --include buy button with price--
            </p>
        </div>

        <script>history.replaceState(null, '', '/');</script>
        
    </body>
</html>