---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>Investor Relations:</h1>
    
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>
    
    <p>Please email webSurfBiz@gmail.com with a #investorRelations tag in the message heading for related inquiries. Looking forward to your investment :p</p>
</div>
