<html>
	<head>
		<title>
			VC Analytics
		</title>
	</head>
	<h1>Welcome</h1>
	<p>
		We have stock information of 7 companies loaded into our database. Please select from the 7 companies below to forecast your returns.
	</p>

	<p>
		Companies:
	</p>

	<form>
		<p>
			<label>
				How much capital are you willing to invest?: 

				<input type="text" name="inputbox" id="moneyInvested" placeholder="Ex.100,000" autofocus required>
			</label>
		</p>
		<label>
			<input type="checkbox" name="company" value="BA">
			BA
		</label>

		<br/>
		<label>
			<input type="checkbox" name="company" value="GE">
			GE
		</label>

		<br/>
		<label>
			<input type="checkbox" name="company" value="MSFT">
			MSFT
		</label>

		<br/>
		<label>
			<input type="checkbox" name="company" value="PEP">
			PEP
		</label>

		<br/>
		<label>
			<input type="checkbox" name="company" value="QCOM">
			QCOM
		</label>

		<br/>

		<input type="submit">

	</form>
</html>