---
layout: default
utils: <script src="../assets/js/utils.js"></script>
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <p><b>You CANNOT copy and paste the token.</b> You must type in each token character individually - for security purposes - to complete the password reset process. Type it back on the page where you initiated the password reset. </p> 
    <h1 id="tokenDisplay"></h1>
    <p>
        <small>
            NOTES: 
            <b>0:</b> If you do not see the token on this page check the url and look for characters after the token parameter (../pwReset?token=). 
            <b>1:</b> If you don't see a token in the url, you have accessed this page in error. You must access this page by clicking on the link from the email sent to you for a password reset.
        </small>
    </p>
</div>