---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h1>The Derp Manifesto: </h1>

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <p class="text-center"></p>
        </div>
    </div>

    <h3>What is the webSurf Vision?</h3>
    
    <p>To search the web in 3d.</p>
    <p>To be the silliest place in cyberspace by making the web 3d.</p>
    <p>To make search better by letting us search together in 3d.</p>
    <p>To bring us from the web 2.0 past and into the web 3d.0 future...in 3d.</p> 
    
    <p>"To inifinity and beyond! [...in 3d]" - fizzBuzz</p>
</div>